<h1> <small>Edit Apartment</small></h1>
<br />
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to user do%><i class="icon-white icon-search"></i> Show <% end %>
    <%= link_to edit_user_path(user) do%><i class="icon-white icon-wrench"></i> Edit <% end %>
    <%= link_to user, :confirm => 'Are you sure?', :method => :delete do%>
    <i class="icon-white icon-trash"></i> Trash <% end %>
  </ul>
</div>
  </td>
    </tr>
<% end %>
</table>

<br />

<%= link_to  new_user_path, :class => "btn btn-info btn-large" do%>
<i class="icon-white icon-plus"></i> New User <%end%>
<br /><br />
<%= link_to 'Back', :action=>'admin', :controller=>'main' %>
