
   
   	  <% apartments.each do |apartment| %>
<table id="aptAll"> 
	<p>
	<span class="tablePicture">
	
<br />		<%= image_tag apartment.photo.url (:small) %> 

	</span> 
	<span class="tableHeader"> <br />&nbsp
        <%= apartment.location %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= apartment.agent %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= apartment.Bed %> BDR / 
        <%= apartment.Bath %> BTH&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        $<%= apartment.Rent %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                Available: <%= apartment.Date_Avail %>
	</span><br />
        <div id="tableDescription"><%= apartment.description %></div>
        &nbsp&nbsp<%= link_to (apartment) do  %>[More Information]<% end %><br />

	</p>
</table><br /><br /><div id="tableSpacer" style="background-color: #638400"> <br /></div>
           <% end %>
