<link rel="stylesheet" type="text/css" href="assets/admin.css" />
<div id="adminApartmentTable">

<table class="table table-striped">
  <tr>
    <th>Agent</th>
    <th>Location</th>
    <th>Bed</th>
    <th>Bath</th>
    <th>Rent</th>
    <th>Owner</th>
    <th>Date avail</th>
    <th>Availability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @apartments.each do |apartment| %>
  <tr>
    <td class="tableSection"><%= apartment.agent %></td>
    <td class="tableSection"><%= apartment.location %></td>
    <td class="tableSection"><%= apartment.Bed %></td>
    <td class="tableSection"><%= apartment.Bath %></td>
    <td class="tableSection">$<%= apartment.Rent %></td>
    <td class="tableSection"><%= apartment.Owner %></td>
    <td class="tableSection"><%= apartment.Date_Avail %></td>
    <td class="tableSection"><%= apartment.availability %></td>
    <td id="adminBut" class="showButton" style="cursor: pointer">
    <%= link_to 'Show', apartment, :class => 'btn btn-mini btn-info'  %>
    
    </td>
    <td id="adminBut" class="editButton" style="cursor: pointer">
    <%= link_to 'Edit', edit_apartment_path(apartment), :class => 'btn btn-mini btn-info' %></td>
    <td id="adminBut" class="deleteButton" style="cursor: pointer">
    <%= link_to 'Destroy', apartment, :confirm => 'Are you sure?', :controller => "apartments", :action => 'destroy', :id => apartment.id, :method => :destroy, :class => 'btn btn-mini btn-danger'  %>
    </td>
  </tr>
<% end %>
</table>

<br />

</div>
