<head>
<script src="assets/aptMenu.js"></script>
</head>
<br /><br />
 <nav>
 	<a href="http://thawing-mountain-9757.herokuapp.com/?Category=forms"> <%= image_tag("forms.png") %></a>
 	<span id="home2"> <%= link_to image_tag("home.png"), root_url %></span>
    <span id="apartments2"><%= link_to image_tag("apartments.png"), {:action =>'aptMenu', :controller => 'apartments'} %></span>
    <span class="forms2"><%= link_to image_tag("forms.png"), root_url %></span>
    <span id="landlords2"><%= link_to image_tag("landlords.png"), root_url %></span>
    <span id="contactus2"><%= link_to image_tag("contactus.png"), root_url %></span>
    
   
    </nav>
    
    
    
    
<div id="aptMenuTable">
<br /><br /><br /><br /><br />

    <div id="aptMenu" class="aptMenu">
    <span class="menuSel" id="studioBut"> Studio </span>
    <span class="menuSel" id="1bdr"> 1BDR </span>
    <span class="menuSel" id="2bdr"> 2BDR </span>
    <span class="menuSel" id="3bdr"> 3BDR </span>
    <span class="menuSel" id="4bdrSel"> 4+BDR </span>
    <span class="menuSel" id="all"> All Units </span>
    </div>
  <br /><br /><br />
  
  <table id="aptAll">
    <div id="allApt" >
        <% @apartments.each do |apartment| %>
       <tr><td>
        Area: <%= apartment.location %><br />  
        <%= apartment.availability %><br />
        Available: <%= apartment.Date_Avail %><br />
        Bed: <%= apartment.Bed %>&nbsp&nbsp
        Bath: <%= apartment.Bath %><br />
        Agent: <%= apartment.agent %><br />
        Rent: <%= apartment.Rent %><br /></td><td>
        Deposit: <%= apartment.Security_Deposit %><br />
        Pets: <%= apartment.Pets %><br />
        Parking: <%= apartment.Parking %><br />
        Laundy: <%= apartment.Laundy %><br />
        Heat: <%= apartment.Type_Heat %><br />
        AC: <%= apartment.AC %> </td><td><%= link_to (apartment) do  %>
        <%= image_tag apartment.photo.url (:small) %> <br /><% end %>
        <hr></td></tr>
        <% end %><hr></div>
  </table>
    <table id="studio">
    <div id="studio0">
        <% @studio.each do |apartment| %>   
        <tr><td>
        Area: <%= apartment.location %><br />  
        <%= apartment.availability %><br />
        Available: <%= apartment.Date_Avail %><br />
        Bed: <%= apartment.Bed %>&nbsp&nbsp
        Bath: <%= apartment.Bath %><br />
        Agent: <%= apartment.agent %><br />
        Rent: <%= apartment.Rent %><br /></td><td>
        Deposit: <%= apartment.Security_Deposit %><br />
        Pets: <%= apartment.Pets %><br />
        Parking: <%= apartment.Parking %><br />
        Laundy: <%= apartment.Laundy %><br />
        Heat: <%= apartment.Type_Heat %><br />
        AC: <%= apartment.AC %> </td><td><%= link_to (apartment) do  %>
        <%= image_tag apartment.photo.url (:small) %> <br /><% end %>
        </td></tr>
        <% end %></div>
  </table>
  <table id="oneBdr">
    <div id="one1Bdr">
        <% @oneBdr.each do |apartment| %>   
        <tr><td>
        Area: <%= apartment.location %><br />  
        <%= apartment.availability %><br />
        Available: <%= apartment.Date_Avail %><br />
        Bed: <%= apartment.Bed %>&nbsp&nbsp
        Bath: <%= apartment.Bath %><br />
        Agent: <%= apartment.agent %><br />
        Rent: <%= apartment.Rent %><br /></td><td>
        Deposit: <%= apartment.Security_Deposit %><br />
        Pets: <%= apartment.Pets %><br />
        Parking: <%= apartment.Parking %><br />
        Laundy: <%= apartment.Laundy %><br />
        Heat: <%= apartment.Type_Heat %><br />
        AC: <%= apartment.AC %> </td><td><%= link_to (apartment) do  %>
        <%= image_tag apartment.photo.url (:small) %> <br /><% end %>
        </td></tr>
        <% end %></div>
  </table>
  <table id="twoBdr">
    <div id="two2Bdr">
        <% @twoBdr.each do |apartment| %>   
        <tr><td>
        Area: <%= apartment.location %><br />  
        <%= apartment.availability %><br />
        Available: <%= apartment.Date_Avail %><br />
        Bed: <%= apartment.Bed %>&nbsp&nbsp
        Bath: <%= apartment.Bath %><br />
        Agent: <%= apartment.agent %><br />
        Rent: <%= apartment.Rent %><br /></td><td>
        Deposit: <%= apartment.Security_Deposit %><br />
        Pets: <%= apartment.Pets %><br />
        Parking: <%= apartment.Parking %><br />
        Laundy: <%= apartment.Laundy %><br />
        Heat: <%= apartment.Type_Heat %><br />
        AC: <%= apartment.AC %> </td><td><%= link_to (apartment) do  %>
        <%= image_tag apartment.photo.url (:small) %> <br /><% end %>
        </td></tr>
        <% end %></div>
  </table>
  <table id="threeBdr">
    <div id="three3Bdr">
        <% @threeBdr.each do |apartment| %>   
        <tr><td>
        Area: <%= apartment.location %><br />  
        <%= apartment.availability %><br />
        Available: <%= apartment.Date_Avail %><br />
        Bed: <%= apartment.Bed %>&nbsp&nbsp
        Bath: <%= apartment.Bath %><br />
        Agent: <%= apartment.agent %><br />
        Rent: <%= apartment.Rent %><br /></td><td>
        Deposit: <%= apartment.Security_Deposit %><br />
        Pets: <%= apartment.Pets %><br />
        Parking: <%= apartment.Parking %><br />
        Laundy: <%= apartment.Laundy %><br />
        Heat: <%= apartment.Type_Heat %><br />
        AC: <%= apartment.AC %> </td><td><%= link_to (apartment) do  %>
        <%= image_tag apartment.photo.url (:small) %> <br /><% end %>
       </td></tr>
        <% end %></div>  
    </table>
    <table id="fourBdr">
      <div id="four4Bdr">
        <% @fourPlusBdr.each do |apartment| %>   
        <tr><td>
        Area: <%= apartment.location %><br />  
        <%= apartment.availability %><br />
        Available: <%= apartment.Date_Avail %><br />
        Bed: <%= apartment.Bed %>&nbsp&nbsp
        Bath: <%= apartment.Bath %><br />
        Agent: <%= apartment.agent %><br />
        Rent: <%= apartment.Rent %><br /></td><td>
        Deposit: <%= apartment.Security_Deposit %><br />
        Pets: <%= apartment.Pets %><br />
        Parking: <%= apartment.Parking %><br />
        Laundy: <%= apartment.Laundy %><br />
        Heat: <%= apartment.Type_Heat %><br />
        AC: <%= apartment.AC %> </td><td><%= link_to (apartment) do  %>
        <%= image_tag apartment.photo.url (:small) %> <br /><% end %>
        </td></tr>
        <% end %></div>
    </table>

<br />


</div>
