<div id="adminApartmentTable">
<h1> <small>Apartments</small></h1>
<table class="table table-striped">
  <tr>
    <th>Agent</th>
    <th>Location</th>
    <th>Bed</th>
    <th>Bath</th>
    <th>Rent</th>
    <th>Owner</th>
    <th>Date avail</th>
    <th>Availability</th>
    <th>ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @apartments.each do |apartment| %>
  <tr>
    <td class="tableSection"><%= apartment.agent %></td>
    <td class="tableSection"><%= apartment.location %></td>
    <td class="tableSection"><%= apartment.Bed %></td>
    <td class="tableSection"><%= apartment.Bath %></td>
    <td class="tableSection">$<%= apartment.Rent %></td>
    <td class="tableSection"><%= apartment.Owner %></td>
    <td class="tableSection"><%= apartment.Date_Avail %></td>
    <td class="tableSection"><%= apartment.availability %></td>
     <td class="tableSection"><%= apartment.id %></td>
    <td><div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    actions
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= link_to apartment do%><i class="icon-white icon-search"></i> Show<%end%>
    <%= link_to edit_apartment_path(apartment) do%><i class="icon-white icon-wrench"></i> Edit <% end %>
    <%= link_to apartment, :confirm => 'Are you sure?', :method => :delete do%>
    <i class="icon-white icon-trash"></i> Destroy<% end %>
  </ul>
</div>
  </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_apartment_path, :class => "btn btn-info btn-large"  do%>
<i class="icon-white icon-plus"></i> New Apartment
<% end %>
<br /><br />
<%= link_to 'Back', :action=>'admin', :controller=>'main' %>
</div>
