<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="assets/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script src="assets/jquery.nivo.slider.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="assets/style.css" />
<link rel="stylesheet" type="text/css" href="assets/nivo-slider.css" media="screen" />
<link rel="stylesheet" type="text/css" href="assets/livewell.css" />
<link rel="stylesheet" type="text/css" href="assets/default.css" />



  <title>Live Well Chicago L.L.C</title>
  
 
 
  
  <%= javascript_include_tag "aptMenu" %>
  <%= stylesheet_link_tag "livewell", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
<br />
<header><div id="banner"><%= link_to "Live Well Chicago", root_url %></div></header> 
<br /><br /><br /><br /><br /><br /><br />
<%= yield %>


</body>
</html>
